<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>product</title>
    <link rel="stylesheet" href="./../css/all.css">
</head>
<body>
<p>兼容IE6,7,8项目构建product</p>
<p>product <a href="../index.html">点击跳转到首页</a></p>
<div class="txt">内嵌页面内嵌页面内嵌页面内嵌页面内嵌页面内嵌页面内嵌页面</div>
</body>
</html>